/** 全局设置 **/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,img,ol,ul,p {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
}
ul {
	list-style:none;
}
a {
	text-decoration:none;
}
.clear {
	clear:both;
}
:focus {
	outline:0
}
body {
	background:#f2f2f2;
	font:12px 'Microsoft YaHei',微软雅黑,Arial,Lucida Grande,Tahoma,sans-serif;
	font-family:微软雅黑,宋体,Arial,Helvetica,sans-serif;
	color:#000;
	text-shadow:0px 1px 0px #d1d1d1;
}
#wrapper {
	margin:18px auto;
	line-height:21px;
}
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color:#0196e3;
	text-decoration:none;
}
a:active {
	}/** 导航搜索 **/

#searchbar {
	width:159px;
	height:28px;
	float:right;
	margin:3px 5px 0 0;
}
#searchbar #s {
	height:16px;
	float:right;
	margin:5px 0 0 0;
	border:0 !important;
	width:130px;
	background:none;
	color:#393939;
	font-size:12px;
}
#searchbar #go {
	position:absolute;
	float:left;
	margin:8px 0 0 8px;
	width:13px;
	height:13px;
}
/** GG搜索 **/

#searchbar #q {
	float:right;
	height:16px;
	margin:6px 5px 0 0;
	padding:0px !important;
	border:none !important;
	width:122px;
	background:transparent !important;
	color:#393939;
	font-size:12px;
}
/** 页眉 **/

#hed {
	background:url(images/topnav_bg.png) repeat-x;
	z-index:999;
	width:100%;
	height:50px;
	top:0;
	border-bottom:3px solid #FF5141;
	position:fixed;
}
#hed .top_part {
	width:950px;
	margin:0 auto;
	position:relative;
}
#hed .top_part img {
	padding:12px 0 0 20px;
	float:left;
}
#hed .message {
	position:absolute;
	right:250px;
	padding:15px 10px;
	width:90px;
	background:url() no-repeat 50% center;
	text-align:right;
}
#hed .tencent {
	position:absolute;
	right:150px;
}
#hed .navi {
	position:absolute;
	right:70px;
	width:50px;
	height:50px;
	padding:15px 10px;
	color:#fff;
}
#hed .navi ul {
	position:absolute;
	top:53px;
	left:-30px;
	width:120px;
	height:200px;
	background:#fff;
	border:1px solid #999;
	border-top:none;
	padding:10px 0 0 0;
	display:none;
}
#hed .navi ul li {
	height:25px;
	line-height:25px;
	text-indent:40px;
	letter-spacing:1px;
}
#hed .navi ul li a {
	display:block;
	text-decoration:none;
	color:#333;
	background:url(more/top/images/arrow3.gif) no-repeat 15px 45%;
}
#hed .navi ul li a:hover {
	background:#fc0 url(more/top/images/arrow4.gif) no-repeat 15px 45%;
}
#hed .screen_more {
	position:absolute;
	right:0px;
	padding:15px 10px;
	color:#fff;
}
/** 热点文章 **/

#featured {
	margin:0 0 10px 0;
}
#featured .item {
	position:relative;
	overflow:hidden;
	width:236px;
	height:155px;
	float:left;
	padding:0 0 0 7px;
}
#featured .item img {
	position:absolute;
}
#featured .item .boxCaption {
	width:211px;
	padding:10px;
	margin:115px 0 0 3px;
	position:absolute;
	top:160px;
	z-index:4;
	background:url(images/bg-box.png) repeat top left;
	color:#fff;
	text-shadow:0px 1px 0px #000;
}
.top_box {
	background:url(images/boxtop.png) no-repeat;
	position:absolute;
	z-index:5;
	width:236px;
	height:155px;
}
.top_box a {
	position:absolute;
	padding:152px 0 0 185px;
}
.top_t {
	position:absolute;
	width:236px;
	z-index:3;
}
.top_t img {
	width:236px;
}
.thumbnail_hot img {
	position:absolute;
	width:236px;
	height:155px;
	z-index:3;
}
#featured .item h2 {
	font-weight:normal;
	text-align:center;
}
#featured .item a {
	color:#f2f2f2;
}
#featured .item a:hover {
	color:#d9d9d9;
}
/** 现在位置 **/

#map {
	height:27px;
}
#feed {
	text-indent:-10000px;
}
#feed a {
	float:right;
	width:27px;
	line-height:15px;
	margin:6px 8px 0 0;
}
.browse {
	text-shadow:0px 1px 0px #d1d1d1;
	width:450px;
	float:left;
	line-height:27px;
	padding:0 0 0 10px;
}
.browse a,.browse {
	text-shadow:0px 1px 0px #fff;
}
.browse a:hover {
	color:#0196e3;
}
/** 圆角 **/

.entry_box {
	position:relative;
	background:#fff;
	width:710px;
	padding:12px 10px 0px 10px;
}
.entry_box_b {
	position:relative;
	background:#fff;
	width:730px;
	height:10px;
	margin:0 0 10px 0;
}
.entry_box,.entry_box_s,.entrymeta,.entry_b,#respond_box {
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.entry_box_b,.entry_sb,.box-bottom,.respond_b,.link_b,.footer_bottom_a {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.footer_bottom_a {
	position:relative;
	background:#f2f2f2;
	text-align:center;
	padding:10px;
	height:32px;
	margin:0 0 30px 0;
}
i {
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	background:url(images/yuan.gif);
	background-repeat:no-repeat;
}
.lt {
	left:-1px;
	top:-1px;
	background-position:left top;
}
.rt {
	right:-1px;
	top:-1px;
	background-position:right top;
}
.lb {
	left:-1px;
	bottom:-1px;
	background-position:left bottom;
}
.rb {
	right:-1px;
	bottom:-1px;
	background-position:bottom right;
}
/** 首页 **/

#post {
	float:left;
	width:732px;
}
.comment_a a {
	position:absolute;
	right:45px;
	top:13px;
	color:#B2B2B2;
	font-size:14px;
	font-weight:bold;
	padding:0 3px 0 3px;
}
.box_entry_title {
	float:left;
	width:650px;
	margin:0 0 5px 0;
}
#post h3 {
	font-size:13px;
	font-weight:bold;
}
.box_entry {
	width:710px;
}
.post_entry {
	font-size:13px;
	line-height:24px;
}
.info a:visited,.info,.info a {
	color:#737373;
}
.info a:hover {
	color:#0196e3;
}
.new {
	float:right;
}
.sticky-post {
	float:right;
	width:36px;
	height:29px;
}
.cat_ico {
	float:left;
	width:40px;
	height:40px;
	margin:0 5px 2px 0px;
	white-space:nowrap;
	overflow:hidden;
}
.posttag {
	background:url(images/login.png) no-repeat 0 -100px;
}
.edit {
	background:url(images/login.png) no-repeat 0 -82px;
}
.archive_more {
	float:right;
}
.archive_more a,.archive_more a:visited {
	float:left;
	width:87px;
	height:25px;
	color:#fff;
	line-height:25px;
	text-align:center;
	text-shadow:0px 1px 0px #393939;
}
.archive_more a:hover,.archive_more a:active {
	width:87px;
	height:25px;
	color:#393939;
	text-shadow:0px 1px 0px #f1f1f1;
}
.posttag {
	float:left;
	font-size:12px;
	line-height:20px;
	width:600px;
	margin:5px 0 0 0;
	color:#b2b2b2;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	z-index:4;
}
.posttag a,.posttag a:visited {
	color:#737373;
}
/** 缩略图 **/

.postdate {
	float:left;
	position:relative;
	width:140px;
	margin:110px 0 0 0;
	color:#737373;
	text-align:center;
	z-index:4;
	border:1px solid #ccc;
}
.thumbnail_box {
	float:left;
	width:140px;
	height:129px;
	margin:5px 10px 5px 0;
	padding:4px 4px 0 4px;
}
.thumbnail img {
	position:absolute;
	z-index:3;
}
.thumbnail_t img,.thumbnail img {
	position:absolute;
	width:140px;
	height:100px;
}
/** 内页 **/

#content {
	float:left;
	width:732px;
	overflow:hidden;
}
#content h3 {
	font-size:13px;
	font-weight:bold;
	color:#000;
}
/** 档案页面 **/

.archive_box {
	width:710px;
}
.archive {
	font-size:13px;
	line-height:24px;
}
.archive_title_box {
	width:710px;
	margin:0 0 5px 0;
}
.archive_info,.archive_info a,.archive_info a:visited {
	color:#737373;
}
.archive_info a:hover {
	color:#0196e3;
}
/** 正文 **/

.font {
	float:right;
	width:100px;
}
.font a {
	line-height:27px;
	padding:0 3px 0 3px;
	_padding-top:1px;
	border:1px solid #ccc;
}
.context {
	position:absolute;
	right:10px;
	top:10px;
	width:72px;
}
.context_t {
	display:none
}
.context_t a {
	background:#fff;
	font-size:13px;
	line-height:25px;
	padding:0 3px 0 3px;
	_padding-top:1px;
	border:1px solid #ccc;
}
.back_b {
	float:right;
	width:25px;
	padding:0 5px 0 5px;
	border:1px solid #ccc;
}
.entry_box_s {
	position:relative;
	background:#fff;
	width:700px;
	margin:0px 0 0 0;
}
.entry_sb {
	position:relative;
	background:#fff;
	width:730px;
	height:10px;
	margin:0 0 10px 0;
}
#entry {
	font-size:13px;
	line-height:185%;
}
.entry {
	width:700px;
	margin:5px 0 5px 0;
	overflow:hidden;
}
.entry p,.entry ul,.entry ol,.entry dd,.entry pre,.entry hr {
	margin:0 0 10px 0;
}
.entry p {
	text-indent:2em;
}
.entry_title_box {
	padding:0px 0 0 0;
}
.entry_title_box a:hover {
	color:#0196e3;
}
.entry_title {
	font-size:15px;
	font-weight:bold;
}
.entry strong {
	font-weight:bold;
}
.entry a {
	color:#0196e3;
}
.entry a:link,.entry a:visited {
	color:#0196e3;
}
.entry a:hover {
	color:#696969;
	text-decoration:underline;
}
.entry a:active {
	color:#0196e3;
}
.entrymeta {
	position:relative;
	background:#fff;
	width:710px;
	padding:15px 10px 4px 10px;
}
.entrymeta {
	color:#8C8C8C;
	font-size:12px;
}
.entrymeta a:visited {
	color:#0196e3;
}
.authorbio {
	float:left;
	width:100px;
	height:80px;
	text-align:center;
	margin:0 10px 0 0;
	padding:2px;
	border:1px solid #ccc;
}
.author_pic {
	width:48px;
	margin:0px auto 0;
}
.author_pic img {
	border:0;
}
.context_b {
	position:relative;
	font-size:13px;
	background:#fff;
	margin:0 0 10px 0;
	padding:10px;
	line-height:23px;
	border:1px solid #ccc;
}
.context_b a {
	color:#0196e3;
}
.context_b a:hover {
	color:#393939;
}
.page p {
	font-size:13px;
	line-height:185%;
}
/**  相关日志 **/

.entry_b {
	position:relative;
	background:#fff;
	width:700px;
	padding:10px 10px 0 10px;
}
.relatedposts {
	float:left;
	width:250px;
	padding:10px;
}
.relatedposts ol li {
	line-height:24px;
	margin:0 0 0 10px;
	color:#8C8C8C;
}
.related_img {
	float:right;
	width:250px;
	margin:3px 0 0 0;
}
.related_img_box {
	float:left;
	width:250px;
	height:300px;
	margin:0 2px 2px 0px;
	padding:5px;
}
/** 侧边栏 **/

#sidebar {
	float:right;
	width:236px;
}
#sidebar h3 {
	padding:0 0 0 15px;
	height:27px;
	line-height:27px;
	color:#393939;
	font-size:12px;
	font-weight:normal;
}
#sidebar a:hover {
	color:#0196e3;
}
.box-bottom {
	position:relative;
	background:#fff;
	width:234px;
	height:6px;
	margin:0 0 10px 0;
}
.box {
	background:#fff;
	padding:5px 10px 0 10px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.box_c {
	background:#fff;
	width:224px;
	padding:5px 0 5px 10px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.widget ul li {
	list-style:none;
	margin:0;
	line-height:23px;
	background:#fff;
}
.box ul li {
	line-height:23px;
}
/** tabs **/

#tabs {
	position:relative;
	width:236px;
	margin:28px 0 0 0;
}
.htotabs {
	position:absolute;
	left:0px;
	top:-29px;
}
.htotabs li {
	float:left;
	display:inline;
	cursor:pointer;
}
.htotabs li a {
	color:#fff;
	margin:0 5px 0 0;
	padding:5px 10px 5px 10px;
	line-height:35px;
	text-shadow:0px 1px 0px #393939;
}
#tabs ul.htotabs li a.selected,#tabs ul.htotabs li a:hover {
	background:#717171 url(images/tab.png) no-repeat;
	color:#fff;
	margin:0 5px 0 0;
	padding:5px 10px 5px 10px;
}
.widget1 a {
	background:#7ab951 url(images/tab.png) no-repeat -136px 0;
}
.widget2 a {
	background:#d03f42 url(images/tab.png) no-repeat -68px 0;
}
.widget3 a {
	background:#467ebd url(images/tab.png) no-repeat -204px 0;
}
.tab-inside {
	background:#fff;
	padding:2px 10px 2px 10px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#tab-widget2,#tab-widget3 {
	display:none;
}
.box_top {
	position:relative;
	background:#fff;
	width:234px;
	height:6px;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	z-index:1;
}
.tab_latest ul li {
	width:212px;
	line-height:30px;
	border-bottom:1px dashed  #ccc;
	margin-bottom:-3px;
}
.tab_latest a {
	background:#fff;
}
/** 最新文章 **/ 

.box_r {
	background:#fff;
	padding:5px 10px 0 12px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.box_r ul li a {
	float:left;
	width:210px;
	line-height:26px;
	border-bottom:1px dashed  #ccc;
	margin-bottom:-1px;
}
/** 侧边评论 **/ 

.r_comments {
	background:#fff;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.r_comments ul li {
	padding:5px 10px 5px 10px;
	line-height:20px;
}
.r_comments li img {
	height:32px;
	float:left;
	padding:1px;
	margin:4px 4px 0 0;
}
/** 侧边读者墙 **/

.box_comment ul li {
	float:left;
	width:36px;
	height:36px;
}
.mostactive {
	margin:6px 0 0 6px;
	_margin-left:5px;
}
.box_comment a img {
	border:1px solid #ccc;
}
/** 侧边分类 **/

.categories_c {
	padding:5px 10px 0 10px;
	background:#fff;
}
.categories_c ul li {
	float:left;
	width:50%;
	padding:0;
	line-height:26px;
	text-align:center;
}
.tag_c {
	line-height:26px;
	padding:5px 10px 0 10px;
}
/** 网站统计 **/ 

.statistics ul {
	float:left;
	width:50%;
}
.statistics_c ul {
	float:left;
	width:50%;
}
/** 相册 **/ 

.mimg {
	background:#fff;
	height:150px;
	padding:5px 0 0 11px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
.mimg_c {
	float:left;
	width:100px;
	height:66px;
	padding:3px;
}
.mimg_c img,.mimg_c a {
	width:100px;
	height:66px;
}
/****** 评论 ******/

#comments {
	background:#fff;
	font-size:13px;
	margin:10px 0 5px 0;
	padding:10px;
	font-weight:bold;
	border:1px solid #ccc;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:4px;
}
.commentlist {
	}.commentlist .comment {
	margin:10px 0 0 0;
	padding:10px;
	list-style:none;
	background:#fafafa;
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:4px;
}
.commentlist li {
	position:relative;
}
.commentlist .alt {
	background:#fff;
}
.commentlist p {
	margin:0 0 0 58px;
}
/** 回复 **/

.reply {
	position:absolute;
	float:right;
	right:20px;
	top:-1px;
}
.reply_t a:hover {
	color:#0196e3;
}
.comment-reply-link {
	font-size:12px;
	color:#fff;
	text-align:center;
	padding:2px 15px 2px 15px;
	text-shadow:0px 1px 0px #000;
}
.comment-reply-link:hover {
	color:#d6d6d6;
}
.cancel-comment-reply a {
	font-size:12px;
	color:#0196e3;
}
.floor {
	position:absolute;
	float:right;
	font-size:14px;
	font-weight:bold;
	right:100px;
	top:0px;
}
/** 日期 **/

.comment-author {
	line-height:23px;
}
.datetime,.datetime a {
	padding:0 0 5px 0;
	color:#B2B2B2;
	text-shadow:0px 1px 0px #fff;
}
/** 表单 **/

#respond h3 {
	margin:0 0 0 10px;
}
.respond_b {
	position:relative;
	background:#fff;
	width:730px;
	height:10px;
}
#respond_box {
	position:relative;
	background:#fff;
	width:710px;
	margin:10px 0 0 0;
	padding:10px;
}
#commentform {
	float:left;
	margin:0 0 0 10px;
	width:70%;
}
#commentform p {
	margin:5px 0;
	color:#000;
}
#commentform label {
	color:#868686;
}
#commentform {
	color:#868686;
	margin-top:10px;
}
#commentform input {
	margin:5px 5px 1px 0;
	padding:5px;
}
#commentform input:focus {
	border:1px solid #ccc;
}
#commentform #author {
	background:#fff  url(images/login.png) no-repeat 0 -37px;
	width:210px;
	padding:4px 3px 4px 25px;
	border:1px solid #ccc
}
#commentform #email {
	background:#fff url(images/login.png) no-repeat 0 -18px;
	width:210px;
	padding:4px 3px 4px 25px;
	border:1px solid #ccc
}
#commentform #url {
	background:#fff url(images/login.png) no-repeat 0 2px;
	width:210px;
	padding:4px 3px 4px 25px;
	border:1px solid #ccc
}
#commentform textarea {
	width:98%;
	height:120px;
	font-size:12px;
	padding:4px;
	margin:15px 0 0 0;
	border:1px solid #ccc;
}
#commentform textarea:focus {
	border:1px solid #ccc;
}
#commentform input.submit {
	cursor:pointer;
	width:86px;
	height:25px;
	color:#fff;
	text-align:center;
	text-shadow:0px 1px 0px #393939;
	border:0px;
}
#commentform .submit:hover {
	cursor:pointer;
	font-weight:bold;
}
#commentform input#reset {
	cursor:pointer;
	width:86px;
	height:25px;
	color:#393939;
	text-align:center;
	text-shadow:0px 1px 0px #fff;
	border:0px;
}
#commentform #reset:hover {
	cursor:pointer;
	font-weight:bold;
}
/** 表单结束 **/

.submitted {
	float:left;
}
.picture {
	float:right;
}
.check {
	color:#ff0000;
}
.navigation_c {
	padding:0 5px 0 5px;
	margin:5px 0 10px 0;
}
.previous {
	text-align:center;
}
.page-numbers {
	background:#fff;
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
.current {
	color:#fff;
	background:#0196E3;
}
/** 头像 **/

#avatar {
	float:left;
	width:48px;
	height:48px;
	margin:0 10px 0 0;
}
#avatar img {
	}.author {
	line-height:38px;
}
input#comment_mail_notify {
	width:12px;
	border:none;
}
.user_avatar img,.author_avatar img {
	float:left;
	margin:0 10px 0  0;
	padding:2px;
	border:1px solid #ccc;
}
.set_avatar {
	float:right;
	display:none;
	width:96px;
	height:96px;
	overflow:hidden;
}
.set_avatar a {
	float:right;
	text-align:center;
	width:96px;
	height:96px;
	padding:70px 0 0 0;
}
/** ajax **/

#edita {
	padding:0 0 0 64px;
}
.comment-reply-link_a,#cancel-comment-reply-link {
	margin:0 0 0 10px;
	padding:0 5px 0 5px;
	border:1px solid #0196e3;
}
/** 翻页 **/

.navigation {
	float:right;
	width:700px;
	margin:5px 0 5px 0;
	text-align:right;
}
.navigation_b {
	float:right;
	width:700px;
	margin:0 5px 0 0;
	text-align:right;
}
.pagination {
	line-height:25px;
}
.pagination span,.pagination a {
	font-size:12px;
	margin:2px 6px 2px 0;
	background:#fff;
	border:1px solid #ccc;
	color:#787878;
	padding:2px 5px 2px 5px;
}
.pagination a:hover {
	background:#0196E3;
	border:1px solid #fff;
	color:#fff;
}
.pagination .current {
	background:#0196E3;
	color:#fff;
	font-size:12px;
	padding:2px 5px 2px 5px;
}
.navigation a,.navigation_b a {
	background:#fff;
	padding:2px 5px 2px 5px;
	border:1px solid #ccc;
}
ul.xoxo li {
	height:52px;
	overflow:hidden;
}
ul.xoxo li img {
	float:left;
	/*width:50px;
	height:50px;
	*/

	padding-right:7px;
}
ul.xoxo li a {
	display:block;
	font-weight:bold;
}
#linkcat-42 {
	display:none;
}
.footer_top .link_s {
	display:none;
}
.post_entry .archive_more a,.post_entry .archive_more a:visited {
	background:none;
	color:#000;
	text-shadow:none;
}
.post_entry .archive_more a:hover,.post_entry .archive_more a:active {
	background:none;
	color:#000;
	text-decoration:underline;
}
.archive_box .archive_more a,.post_entry .archive_more a:visited {
	background:none;
	color:#000;
	text-shadow:none;
}
.archive_box .archive_more a:hover,.post_entry .archive_more a:active {
	background:none;
	color:#000;
	text-decoration:underline;
}
.comment-author .reply {
	background:none;
}
#featured .item .boxCaption {
	top:0;
}
.comment-reply-link {
	color:#d6d6d6;
	text-shadow:0 0 0 #000000;
}
.comment-reply-link:hover {
	color:#333;
}
#respond_box,.respond_b {
	padding:0;
	background:none;
	border:none;
}
#respond_box .lt,#respond_box .rt,#respond_b .lt,#respond_b .rt {
	display:none;
}
.commentlist .comment {
	border:1px dashed #fff;
	background:#fafafa;
	border-radius:0;
}
.commentlist .comment:hover {
	border:1px dashed #b8b8b8
}
#top {
	position:relative;
	height:20px;
}
#top #topnav {
	/*position:absolute;
	top:72px;
	width:100%;
	z-index:999;
	*/
}
#featured .item .boxCaption0 {
	background:url("images/bg-box.png") repeat scroll left top transparent;
	color:#FFFFFF;
	margin:115px 0 0 3px;
	padding:10px;
	position:absolute;
	text-shadow:0 1px 0 #000000;
	top:0;
	width:211px;
	z-index:4;
}
.respond_b {
	margin-bottom:10px
}
#top .home {
	width:77px;
}
ol.tentblogger-top-posts-list {
	list-style:none;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:5px 10px;
	background:#fff
}
ol.tentblogger-top-posts-list li {
	background:url("images/point2.gif") no-repeat scroll 0.5em 12px;
	height:24px;
	line-height:24px;
	padding-left:15px;
	overflow:hidden;
}
#sidebar .recent-comment .comment-text {
	font-style:normal;
	font-size:12px;
	font-family:"微软雅黑","宋体"
}
body {
	background:#fff;
	text-shadow:none
}
.logo {
	width:489px;
	height:68px;
	background-position:0 17px;
}
#top .home {
	display:none;
}
#top #topnav,#featured {
	width:980px;
	margin:0 auto;
	height:80px
}
#featured {
	height:auto;
	margin-top:6px;
}
#top {
	background:#8b1e23;
	height:38px;
}
#top #topnav {
	background:none;
}
#top #topnav li ul li a {
	background:#155199;
}
#top #topnav li ul li a:hover {
	background:#0e4681;
}
#top #topnav li a,#topnav li a:link,#top #topnav li a:visited {
	text-shadow:none;
	color:#000;
}
#top #topnav li {
	border-right:none;
	position:relative;
	z-index:999
}
#top,#top #topnav,#top #topnav ul {
	z-index:999;
}
#featured {
	z-index:1;
	position:relative;
}
#top #topnav {
	height:38px;
}
.time,login_t,.login_t a {
	line-height:38px;
	color:#fff;
}
.time {
	display:none;
}
.login_t a:hover {
	text-decoration:underline;
}
#top #topnav li a:hover,#top #topnav li a:active {
	background:none;
	background:#155197;
}
#top #topnav.current_page_item,#top #topnav .current-menu-item {
	background:none;
	background:#155197;
}
.thumbnail_t img,.thumbnail img {
	width:auto;
	height:auto;
	position:relative;
}
.thumbnail_box {
	width:auto;
	height:auto;
	float:none;
}
.thumbnail_box .thumbnail {
	text-align:center;
}
.postdate {
	display:none;
}
#wrapper {
	margin-top: 36px;
}
#post,#content {
	width:724px;
	/*overflow:hidden;
	*/padding:0 5px;
	border-right:1px solid #d2d2d2;
	overflow:visible;
	_overflow:hidden;
}
.entry_box,.entry_box_s,.entrymeta,.entry_b,#respond_box {
	border:none;
}
.entry_box_b,.entry_sb,.box-bottom,.respond_b,.link_b,.footer_bottom_a {
	border:none;
	border-bottom:1px solid #d2d2d2;
}
.entry_box_b,.entry_sb,.respond_b {
	width:100%;
}
.context_b {
	width:701px;
}
.entrymeta {
	background:transparent;
}
.entry_box_s {
	padding:0px 10px 0;
	background:transparent;
}
#sidebar .box-bottom {
	border:none;
}
.lt,.rt,.lb,.rb {
	display:none;
}
#wrapper .ad_h {
	border:none;
}
#wrapper #sidebar h3 {
	background:none;
	background:#e1e1e1;
	height:35px;
	line-height:35px;
	font-weight:bold;
	font-size:14px
}
#sidebar {
	float:left;
	overflow:hidden;
}
#sidebar #message,#sidebar #rssfeed,#sidebar .categories,#sidebar .box,#sidebar .r_comments,#sidebar ol.tentblogger-top-posts-list {
	border:none
}
#wrapper #map {
	background:none;
}
#post .box_entry_title h4,#content .box_entry_title h4,#post .box_entry_title h4,#content .box_entry_title h4,.entry_title,.archive_title h4 {
	font-size:16px;
}
#sidebar #searchbar {
	background:none;
	border:1px solid #ccc;
	width:222px;
	margin-bottom:7px;
	height:37px;
	padding:0 2px;
}
#sidebar #searchbar #s {
	float:left;
	width:195px;
	font-size:16px;
	height:25px;
}
#sidebar #searchbar #go {
	margin:5px 0 0;
	width:26px;
	height:28px;
}
.footer_wd {
	width:980px;
	margin:0 auto;
}
.footer_wd .link,.footer_wd .footer_top,.footer_wd .footer_bottom_a {
	background:none
}
.footer_wd .footer_bottom_a {
	border:none;
}
.cat_ico {
	width:45px;
	overflow:visible;
}
.cat_ico a {
	position:relative;
	left:-18px;
}
#gg,body #title2note,#wrapper #scroll {
	display:none
}
.entry_box {
	background:transparent;
	_width:700px;
}
.top_box {
	background:none;
}
#featured {
	width:980px;
	overflow:hidden
}
#featured .inner {
	width:1000px;
}
#featured .item {
	width:241px;
	padding:0 7px 0 0;
}
ul.blogroll li {
	height:auto;
	_height:52px;
}
#linkcat-167,#linkcat-169,#linkcat-498 {
	display:none;
}
.headtop {
	background:#30373B;
	color:#D6D7D8;
	height:24px;
	line-height:24px;
}
.headtop .inner {
	width:980px;
	margin:0 auto;
}
.headtop .inner a {
	color:#ccc;
	padding-right:3px;
	text-decoration:none;
}
.headtop .inner a:hover {
	color:#fff;
}
.foot {
	border-top:1px solid #ccc;
	color:#777;
	margin-top:5px;
}
.foot .inner {
	width:960px;
	margin:0 auto;
}
.foot .links {
	text-align:center;
}
.dlogo {
	float:left;
	margin-right:25px;
}
.foot p {
	float:left;
	margin:0;
	padding:0;
	line-height:25px;
	width:725px;
}
.foot .dmenu {
	margin-top:37px;
	margin-left:-7px;
}
.dmenu a {
	padding:0 7px;
	text-decoration:none;
	border-right:1px solid #777;
	line-height:12px;
}
.dmenu a:hover {
	text-decoration:underline;
}
.red {
	color:#ad0e16;
}
.dmenu a.last {
	border:none;
}
.footer_bottom,.footer_bottom_a {
	display:none;
}
#commentform {
	width:71%;
}
.login_t {
	display:none
}
.wumii-hook div {
	display:none;
}
.wumii-hook div#wumiiBtnDiv,.wumii-hook div.wumii-related-items-div,.wumii-hook div.wumii-internal,.wumii-hook div.wumii-internal div {
	display:block;
}
.tmore {
	position:relative;
}
.tmore #tmorei {
	position:absolute;
	left:0;
	top:20px;
	z-index:999;
	display:none;
}
.tmore #tmorei a {
	border-bottom:1px solid #24292D;
	border-top:1px solid #3C4246;
	display:block;
	height:24px;
	padding-left:3px;
	background:#30373b;
	width:57px;
}
.on #tmorei {
	display:block;
}
.headtop {
	z-index:999;
	position:relative;
}
.tmore #tmorei a {
	z-index:999;
}
.recent-comment .comment-meta {
	display:block;
	height:36px;
	overflow:hidden;
	float:left;
	width:145px;
}
.recent-comment .comment-author-gravatar {
	display:block;
}
.recent-comment .comment-author-gravatar {
	margin-bottom:35px;
	_margin-bottom:0;
}
ul.recent-comments-list li.recent-comment {
	height:70px;
	overflow:hidden;
	border-bottom:1px dashed #CCCCCC;
}
.recent-comments-list .recent-comment a.comment-link {
	border-bottom:none;
}
#commentform .picture,#commentform p a img {
	display:none;
}
.headtop {
	background:none;
}
.headtop .inner {
	background:#30373B;
	padding:2px 5px;
	width:970px;
}
#top {
	background:none;
}
#top #topnav {
	background:#F1F1F1;
}
#top #topnav #searchbar {
	background:none;
	background:#fff;
	width:260px;
	height:30px;
	border:3px solid #003399;
	margin:-22px 40px 0 0;
	padding:0 5px;
	z-index:999;
}
#top #topnav #searchbar #s {
	float:left;
	width:238px;
}
#top,#top #topnav,#top #topnav ul {
	z-index:998;
}
.tmore {
	background:#E11F00;
	padding:2px 10px;
}
.tmore #tmorei a {
	width:77px
}
#wrapper #scroll a.scroll_b {
	display:none;
}
#wrapper #scroll a.scroll_t {
	background:url(images/wtop.png);
	width:38px;
	height:65px;
	margin-right:-60px;
}
ol.tentblogger-top-posts-list li {
	height:auto;
}
#wrapper #scroll a.scroll_t:hover {
	background-position:0px -65px;
}
#scroll a.scroll_c {
	display:none
}
.kfd {
	float:right;
	width:205px;
}
.menu {
	float:left;
}
.headtop .inner {
	height:25px;
	background:#464646;
}
.tmore {
	background:none;
}
.kfd img {
	float:left;
}
.headtop .inner .kfd a {
	color:#E0624F;
	line-height:28px;
	padding-left:7px;
}
#linkcat-792 {
	display:none
}
.browse {
	width:560px;
}
.whed-top-bottom {
	height:30px;
	line-height:30px;
}
.whed-top-bottom .cot {
	width:985px;
	margin:0 auto;
}
.w-date {
	float:left;
}
.w-link {
	float:right;
}
/*****

#swbox-id2,#swbox-id4,#swbox-id6 {
	height:138px;
	padding-top:30px;
}
#wjbox-id3,#wjbox-id5,#wjbox-id7 {
	display:none;
}
#swbox-id3,#swbox-id5,#swbox-id7 {
	height:5px;
}
#swbox-id3 .xilitidytagscloud,#swbox-id5 .xilitidytagscloud,#swbox-id7 .xilitidytagscloud {
	margin-top:-166px;
	font-weight:bold;
}
#sidebar .xilitidytagscloud a {
	border-right:1px solid #ccc;
	display:block;
	float:left;
	height:15px;
	line-height:15px;
	padding:0 10px;
}
****/





/***********=====20120502=====***********/

.thumbnail_box {
	float:left;
}
.thumbnail_box .thumbnail img {
	border:1px solid #ccc;
}
.thumbnail_box,.thumbnail_box .thumbnail,.thumbnail_box .thumbnail img {
	width:200px;
	height:131px;
}
.box_entry_title {
	float:none;
}
.box_entry_title h4 a {
	/*font-size:18px;
	*/
}
#wrapper {
	border:none;
	width:985px;
}
#post {
	border:1px solid #999;
	padding-top:10px;
}
.post_entry {
	color:#999;
}
.archive_more,.comment_a,.new {
	display:none;
}
.entry_box_b {
	display:none;
}
#sidebar {
	border:1px solid #ccc;
}
.main-top {
	width:710px;
	border:1px solid #999;
	margin-bottom:20px;
	padding:10px;
}
.main-top img {
	display:block;
}
.box-bottom {
	display:none;
}
.box {
	border:none;
}
.wtitle {
	height:40px;
	padding-bottom:7px;
	border-bottom:2px solid #ccc;
	line-height:40px;
}
.wtitle h2 {
	float:left;
	font-size:16px;
	padding:0 10px 0 68px;
	font-size:14px;
}
.main-top h2 {
	background:url(images/w_icon1.gif) no-repeat left bottom;
	height:40px;
	width:100px;
}
#post h2 {
	background:url(images/w_icon2.gif) no-repeat left bottom;
	height:40px;
	width:100px;
}
.wtitle .ct {
	float:right;
	margin-top:12px;
	width:450px;
}
.wtitle .ct a {
	padding:0 10px;
	border-right:1px solid #ccc;
	display:block;
	float:left;
	height:15px;
	line-height:15px;
}
.wtitle .ct a.last {
	border:none;
}
.wtitle .ct .more {
	color:#d25e63;
	padding-left:50px;
	border:none;
	padding-right:0;
	float:right;
	line-height:30px;
}
.wtitle .ct .w-wid {
	float:right;
}
.main-top h3 {
	display:none;
}
.main-top #wbox-id0 .post-title {
	font-size:24px;
	font-weight:bold;
	display:block;
	height:45px;
	line-height:45px;
}
.main-top #wbox-id0 img {
	float:left;
	padding-right:20px;
	width:220px;
	height:145px;
}
.main-top #wbox-id0 ul li {
	height:200px;
}
.main-top #wbox-id0 ul li {
	display:none;
}
.main-top #wbox-id0 ul li.on2 {
	display:block;
}
.main-top #wbox-id1 ul li {
	float:left;
	width:50%;
}
.main-top #wbox-id1 ul li a {
	padding-left:14px;
	background:url(http://www.8844.com/images/n_i.gif) no-repeat 0 7px;
}
.w-tab {
	position:relative;
}
.w-tab ul li {
	background:#000;
	color:#fff;
	float:left;
	margin-right:3px;
	padding:0px 5px;
	cursor:pointer;
	border:1px solid #ccc;
	font-weight:bold
}
.w-tab ul li.on2 {
	background:#fff;
	color:#626262;
}
.w-tab ul {
	position:absolute;
	top:173px;
	left:117px;
}
.w-left {
	float:left;
}
.wp-tag-cloud {
	font-weight:bold;
}
#wbox-id5,#wbox-id3 {
	height:30px;
}
#wbox-id4,#wbox-id2 {
	padding-top:40px;
	height:90px;
}
#wbox-id5 .wp-tag-cloud,#wbox-id3 .wp-tag-cloud {
	margin-top:-120px;
}
#wbox-id5 ul li,#wbox-id3 ul li {
	float:left;
	padding:0 7px;
}
#wjbox-id13,#wjbox-id15 {
	display:none;
}
/***********=====复写现有=====***********/



#top #topnav #searchbar {
	margin-top:2px;
}
.headtop {
	background:#464646;
	height:30px;
}
#top {
	background:#a40000;
	margin-top:52px;
}
.posttag,.sticky-post,.w-left #map {
	display:none;
}
#wrapper {
	padding:0;
}
#sidebar {
	float:right;
}
.w_rss {
	float:right;
	width:253px;
	margin-top:51px;
}
.w_rss a {
	float:left;
	margin-right:20px;
}
.w_rss a.w_sina {
	display:block;
	width:60px;
	height:72px;
	background:url("images/sina.gif") no-repeat;
}
.w_rss a.w_rss2 {
	display:block;
	width:60px;
	height:72px;
	background:url("images/rss.gif") no-repeat;
}
.w_rss a.w_gadd {
	display:block;
	width:73px;
	height:72px;
	background:url("images/g_add.gif") no-repeat;
}
#top #topnav #searchbar {
	margin-right:0;
}
#top #topnav,.headtop .inner,#featured,#wrapper {
	width:980px;
}
#sidebar {
	width:231px;
}
#top #topnav #searchbar {
	border-right:none;
}
.wp-tag-cloud li {
	float:left
}
.main-top #wbox-id0 .post-title,.box_entry_title h4 a,.archive_title h4 a {
	/*font-family:"宋体";
	*/
}
.thumbnail_box {
	margin-right:26px;
}
#post .post,#content .entry_box {
	margin-bottom:15px;
}
#sidebar .cat-post-item {
	height:20px;
	overflow:hidden;
	margin-bottom:5px;
}
#sidebar .cat-post-item a {
	padding-left:14px;
	background:url(http://www.8844.com/images/n_i.gif) no-repeat 0 7px;
}
#content {
	border:1px solid #999;
}
/***********=====复写现有菜单=====***********/

#top #topnav li li {
	background:none;
}
#top #topnav li a:hover,#top #topnav li a:active {
	background:url("images/w_menubg.gif") repeat-x;
}
#top #topnav li ul {
	width:440px;
	background:url("images/w_t.gif") no-repeat 39px 2px;
}
#top #topnav li li {
	height:auto;
	border:none
}
#top #topnav li ul li a {
	display:inline;
	opacity:1;
	text-shadow:none;
	color:#808080;
	background:#ccc;
	font-size:14px;
}
#top #topnav li ul li a:hover {
	background:#ccc;
}
#top #topnav li ul li a,#top #topnav li ul li a:link,#top #topnav li ul li a:visited {
	color:#808080 !important;
	text-shadow:0px 0px 0px #000 !important;
	font-size:14px;
	color:#808080\9\0;
}
#top #topnav.current_page_item,#top #topnav .current-menu-item {
	background:url("images/w_menubg.gif") repeat-x;
}
#top #topnav ul li .current-menu-item {
	background:none;
}
.post_entry {
	padding-right:30px;
}
.thumbnail_box {
	width:200px;
	height:131px;
	overflow:hidden;
	border:1px solid #CCCCCC;
	padding:0;
}
.thumbnail_box .thumbnail img {
	width:200px;
	height:auto;
	border:none;
}
#wrapper .act,#wrapper .act .entry_box_s,#wrapper .act .entry {
	width:960px;
	border:none;
}
#wrapper .act table {
	width:100%
}
*+html #wrapper .act table td a img {
	padding-right:30px;
}
#wrapper .act table td a img {
	_padding-right:30px;
}
.main-top {
	position:relative;
	padding-top:40px;
}
.w-date {
	color:#999;
}
.w-link a {
	color:#a40000;
	font-weight:bold;
}
.thumbnail_box {
	float:left;
	position:relative;
	margin-top:0;
}
.box_entry_title,.post_entry,.archive_title_box,.archive {
	display:inline;
}
#post .post,#content .entry_box {
	height:155px;
	overflow:hidden;
	position:relative;
}
.w-tab ul li {
	line-height:15px;
}
.box_entry_title {
	margin:0;
	padding:0;
}
.info {
	margin-bottom:7px;
}
.post_entry p {
	padding-right:25px;
	text-align:justify;
	text-justify:inter-ideograph;
}
.cat-post-item p {
	text-align:justify;
	text-justify:inter-ideograph;
	padding-right:25px;
	font-size:14px;
}
.pagination .current {
	background:#d25e63
}
a:hover {
	color:#d25e63;
}
.pagination a:hover {
	background:#d25e63;
	color:#fff;
}
#menu li a,#menu li a:hover,.link li h2 {
	color:#d25e63;
}
.w-search #sidebar {
	display:none;
}
#content h3 {
	font-size:24px;
}
.archive p {
	padding-right:20px;
	color:#333;
}
#wrapper .w-search .entry_box {
	height:143px;
}
.entry_title_box {
	padding-bottom:0px;
}
#content {
	position:relative;
}
#ckepopw {
	border:1px solid #ccc;
	padding:2px;
	background:#fff;
	z-index:999;
	height:16px;
}
.s-s {
	position:absolute;
	top:70px;
	left:20px;
}
.s-top {
	position:fixed;
	top:0;
}
/**footer设计**/
big {
	position:absolute;
	width:5px;
	height:5px;
	font-size:0;
	background:url(images/yuan_b.gif);
	background-repeat:no-repeat;
}
.footer_top {
	position:relative;
	background:#f2f2f2;
	height:33px;
	margin:15px 0 0 0;
	line-height:33px;
	border:1px solid #ccc;
}
#menu {
	float:right;
	width:860px;
}
#menu li {
	float:right;
	margin:0 10px 0 0;
	padding:0 10px 0 10px;
}
#menu li a {
	color:#0196e3;
}
#menu li a:hover {
	color:#000;
}
.footer_top h2 a {
	padding:0 0 0 40px;
	margin:0 0 0 10px;
}
.blogtitle {
	width:110px;
}
.link {
	background:#ECECEC;
	height:40px;
	line-height:25px;
	padding:10px;
	list-style:none;
}
.link li h2 {
	float:left;
	width:940px;
	line-height:20px;
	font-weight:normal;
	color:#0196e3;
}
.link li ul li {
	float:left;
	margin:0 10px 0 0;
}
.link li a {
	float:left;
	display:inline;
	white-space:nowrap;
	padding:0 10px 0 0;
}
.link_b {
	position:relative;
	width:978px;
	margin:0 0 5px 0;
}
.footer_bottom {
	text-align:center;
	padding:10px;
}
#my_footer_wrapper {
	clear:both;
	width:978px;
	margin-left:auto;
	margin-right:auto;
	background:#ECECEC;
	border:1px solid #CCCCCC;
}
#my_footer {
	width:930px;
	padding:10px 15px;
	margin:0 auto;
	color:#A40000;
	text-align:center;
}
#my_footer a {
	color:#A40000;
	text-decoration:none;
	font-weight:bold;
}
#my_footer span {
	color:#A40000;
	font-weight:bold;
}
#my_copyright_wrapper {
	width:978px;
	margin-left:auto;
	margin-right:auto;
	background:#ECECEC;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
}
#my_copyright {
	width:960px;
	margin:0 auto;
	padding:10px 15px;
	text-align:center;
	color:#A40000;
	font-weight:bold;
}
#my_copyright a {
	color:#A40000;
	font-weight:bold;
}
/**滚动设计**/

.test_left {
	width:230px;
	height:950px;
	float:left;
	margin-left:12px;
}
.test_left1 {
	width:230px;
	height:400px;
	background-color:#fff;
	border:1px solid #CCCCCC;
}
.test_left2 {
	width:230px;
	height:550px;
	background-color:#fff;
	border:1px solid #CCCCCC;
}
.test_right {
	width:735px;
	height:auto;
	float:left;
	background-color:#fff;
}
/**右侧part**/

#right_adlayout {
	width:230px;
	height:100px;
	background-color:#EEF4D3;
}
#right_content {
	width:230px;
	height:180px;
	background-color:#1F76BC;
}
.menu_title {
	font-size:16px;
	color:#003300;
	background-color:#ECECEC;
	width:230px;
	margin-left:-20px;
	padding:10px 0 10px 0;
	text-align:center;
}
.menu_list {
	width:230px;
	margin-left:-20px;
}
.menu_head {
	padding:5px 10px;
	cursor:pointer;
	position:relative;
	margin:1px;
	font-weight:bold;
	background:#eef4d3 url(images/left.png) center right no-repeat;
}
.menu_body {
	display:none;
}
.menu_body a {
	display:block;
	color:#006699;
	background-color:#EFEFEF;
	padding-left:10px;
	font-weight:bold;
	text-decoration:none;
}
.menu_body a:hover {
	color:#000000;
	text-decoration:underline;
}
#right_flash {
	width:230px;
	height:180px;
}
#email_feed {
	width:230px;
	margin-top:30px;
	color:#003300;
	background-color:#ECECEC;
	font-size:18px;
	font-weight:bold;
	padding:15px 0 15px 0;
	text-align:center;
}
